/* SELECTOR DIBAGI MENJADI BEBERAPA, YAITU:*/

/* ELEMEN HTML, SELEKTOR INI LANGSUNG MENGGUNAKAN TAG PADA STRUKTUR HTML UNTUK STYLING MENGGUNAKAN CSS */
/* TANDA "," BISA DIARTIKAN SEBAGAI "DAN" */
h1, h2{
   font-family: Arial, Helvetica, sans-serif; 
   color: brown;
}

/* TANDA SPASI BISA DIGUNAKAN UNTUK MENYELEKSI SUATU TAG YANG BERADA DALAM TAG LAIN */
ul li a {
    color: gray;
}

ol li a {
    color: beige;
}

/* SELECTOR ID, SELEKTOR INI MENGGUNAKAN ID PADA TAG HTML UNTUK DIGUNAKAN PADA CSS, SELECTOR INI TIDAK DISARANKAN PADA CSS KARENA HANYA DAPAT MENGGUNAKAN 1 ID PADA SATU ELEMEN DAN TIDAK BOLEH MENGGUNAKAN ID PADA ELEMEN YANG BERBEDA */
/* ID DILAMBANGKAN TANDAa "#" */
#orang {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}

/* SELECTOR CLASS, SELECTOR INI MENGGUNAKAN ATTRIBUT CLASS PADA TAG HTML SEPERTI ID, AKAN TETAPI SELECTOR INI DAPAT DIGUNAKAN DALAM BERBAGAI TAG SSEHINGGA DISARANKAN DIGUNAKAN UNTUK CSS */
/* CLASS DILAMBANGKAN TANDA "." */

.p1{
    color: blueviolet;
}

.p2{
    color: green;
}

/* SELECTOR CLASS DAPAT DIGUNAKAN PADA TAG HTML YANG BERBEDA */

.orang-lama{
    color: burlywood;
}

/* SELECTOR CLASS JUGA DAPAT MEMBEDAKAN TAG */

p{
    color: orange;
}

p.hi{
    color: aqua;
}

/* SELECTOR CLASS JUGA BISA MEMILIKI BEBERAPA CLASS DALAM SATU TAG YANG DIMANA, TAG TERSEBUT DIPISAHKAN DENGAN SPASI */
.hi.halo{
    color: gray;
}
