h1{
    color: brown;
    text-align:left;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 10px;
}

p{
    color: gray;
    text-align:left;
    text-decoration: none;
    text-indent: 20px;
    text-transform: capitalize;
    letter-spacing: 2px;
    word-spacing: 10px;
}