/* SPECIFICITY */
/* SETIAP DEKLARASI CSS (SELECTOR) MEMILIKI "BERAT" YANG BERBEDA. BERAT TERSEBUT MENENTUKAM SEBERAPA SPESIFIK SEBUAH ELEMEN DAPAT DIPILIH OLEH SELECTOR */
/* TINGKATAN SELECTOR: */
/* INLINE           == 1000
   ID               == 100
   CLASS            == 10
   ELEMEN HTML      == 1
   */

   /* SELECTOR YANG LEBIH SPESIFIK AKAN MENIMPA SELECTOR LAIN YANG MEMILIKI TAG YANG SAMA DENGAN NILAI LEBIH RENDAH */


   /* SELECTOR YANG BERADA DI URUTAN TERAKHIR, AKAN MENIMPA SELECTOR YANG MEMILIKI TAG DENGAN BERAT YANG SAMA */

   h1 {color: red;}

   h1 {color: blue;}

   /* SELECTOR AKAN DITIMPA OLEH SELECTOR YANG LEBIH BERAT WALAUPUN BERADA DI URUTAN TERAKHIR */

   #p1{color: brown;}

   p{color:aqua}

   /* DIKARENAKAN SELECTOR ID LEBIH BERAT, MAKA SELECTOR CLASS AKAN DITIMPA OLEH SELECTOR ID */

   ul#makanan li{
    color: green;
   }

   .favorit {
    color: orangered;
   }

   /* UNTUK MENIMPA SELECTOR LAIN, KITA PERLU MEMBERIKAN BERAT/NILAI YANG LEBIH TINGGI PADA SELECTOR YANG DIINGINKAN */

   ul#elemen li{
    color: green;
   }

   ul#elemen li.api {
    color: orangered;
   }